.ribbon {
    width: 100%;
    height: 40vh;
    flex-shrink: 0;
}

.main {
    margin-top: -35vh;
    flex-shrink: 0;
}

.header .mdl-layout__header-row {
    padding-left: 40px;
}

.container {
    max-width: 1600px;
    width: calc(100% - 16px);
    margin: 0 auto;
}

.content {
    border-radius: 2px;
    padding: 80px 56px;
    margin-bottom: 80px;
}

.layout.is-small-screen .content {
    padding: 40px 28px;
}

.content h3 {
    margin-top: 48px;
}

.footer {
    padding-left: 40px;
}

.footer .mdl-mini-footer--link-list a {
    font-size: 13px;
}


a.href-inherit-style {
    color: inherit;
    font-weight: inherit;
    text-decoration: inherit;
}

a.href-inherit-style:hover {
    color: grey;
}

